# Ignore build directories
/target/
/build/

# Ignore dependency caches
**/.gradle


# Ignore Gradle Wrapper files (except for wrapper JAR)
gradle-app.zip

# Ignore Maven local repository (if mistakenly added)
.mvn/

